@use "../../../../../../styles/variables" as *;
@use "../../navbar.scss" as *;

// Navbar Horizontal
.navbar-horizontal {
  grid-area: navbar-horizontal;

  background-color: $color-background-dark;
  border-bottom: 1px solid $color-background-light;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: calc(100vw - #{$thickness-navbar});
  height: 100%;

  gap: $spacing-x;

  .navbar-left {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-right {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-x;

    padding: $spacing-y $spacing-x;
  }
}
