//====Colores=====
// Neutros
$color-background-dark: #000000;
$color-background-medium: #0d0d0d;
$color-background-light: #e6e6e6;

// Acento principal y variantes calculadas
$color-primary: #0096ff;
$color-primary-light: #4dc3ff; // 20% más claro
$color-primary-dark: #0066a3; // 20% más oscuro

// Colores complementarios
$color-secondary: #ff6f61; // naranja cálido
$color-tertiary: #ffd700; // dorado
$color-quaternary: #8affc1; // verde agua

//===variables de estilo===
$border-radius: 8px;
$transition: all 0.3s linear;
$shadow: 0 0 5px $color-primary;
$horizontal-spacing: 5vw;
$vertical-spacing: 2vh;
