<Form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="forms">
  <!-- Form Header -->
  <div class="form-header">
    <h2 class="form-title">Iniciar sesión</h2>
  </div>

  <!-- Form Body -->
  <div class="form-body">
    <div class="form-element">
      <label for="username">Ingresa tu correo o nombre de usuario:</label>
      <input type="text" id="username" formControlName="username" />

      @if (loginForm.get('username')?.invalid &&
      loginForm.get('username')?.touched) {
      <div class="error">El correo o el nombre de usuario es requerido.</div>
      }
    </div>
    <div class="form-element">
      <label for="password"> Ingresa tu contraseña:</label>
      <input type="password" id="password" formControlName="password" />

      @if (loginForm.get('password')?.invalid &&
      loginForm.get('password')?.touched) {
      <div class="error">La contraseña es requerida.</div>
      }
    </div>
  </div>

  <!-- Form Footer -->
  <div class="form-footer">
    <button type="submit">Iniciar sesión</button>
  </div>
</Form>
