@use "styles/variables" as *;
@use "styles/fondo" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-background-light;
  font-family: "Roboto", sans-serif;
}

button {
  background: transparent;
  color: $color-background-light;
  border: 2px solid $color-background-light;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $color-background-light;
    border-color: $color-primary;
    background-color: $color-primary;
    box-shadow: $shadow;
  }
}

a {
  color: $color-background-light;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: $transition;

  &:hover {
    color: $color-primary;
    text-shadow: $shadow;
  }
}
